* {
    margin: auto;
    padding: 0px;
    overflow: hidden;
    font-family: montserratFont;
}

.grid-wrapper {
    margin: 20px 80px 20px 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
