* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.grid-wrapper {
    margin: 20px 80px 20px 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.card-container {
    border: 1px solid yellow;
}